In [64]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression

In [3]:
#Importation des données
train_df = pd.read_csv('data/train.csv')
test_df = pd.read_csv('data/test.csv')

In [4]:
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [5]:
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

Selection des variables et nettoyage

In [15]:
#Selection des variables 
train_df_final = train_df[['Id','LotArea', 'OverallQual', 'OverallCond', 'GrLivArea', 'GarageCars', 'GarageArea', 'SalePrice']]
test_df_final = test_df[['Id','LotArea', 'OverallQual', 'OverallCond', 'GrLivArea', 'GarageCars', 'GarageArea']]

In [19]:
test_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1459 non-null   int64
 1   LotArea      1459 non-null   int64
 2   OverallQual  1459 non-null   int64
 3   OverallCond  1459 non-null   int64
 4   GrLivArea    1459 non-null   int64
 5   GarageCars   1458 non-null   float64
 6   GarageArea   1458 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 79.9 KB

In [43]:
train_df_final.isnull().sum()

Id             0
LotArea        0
OverallQual    0
OverallCond    0
GrLivArea      0
GarageCars     0
GarageArea     0
SalePrice      0
dtype: int64

In [49]:
test_df_final.isnull().sum()

Id             0
LotArea        0
OverallQual    0
OverallCond    0
GrLivArea      0
GarageCars     1
GarageArea     1
dtype: int64

In [55]:
#Suppression des données manquantes
test_df_final = test_df_final.dropna(axis=0)
test_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1458 entries, 0 to 1458
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Id           1458 non-null   int64
 1   LotArea      1458 non-null   int64
 2   OverallQual  1458 non-null   int64
 3   OverallCond  1458 non-null   int64
 4   GrLivArea    1458 non-null   int64
 5   GarageCars   1458 non-null   float64
 6   GarageArea   1458 non-null   float64
dtypes: float64(2), int64(5)
memory usage: 91.1 KB

In [69]:
#Recuperation des variables pour la modelisation
X_train = train_df_final[['LotArea', 'OverallQual', 'OverallCond', 'GrLivArea', 'GarageCars', 'GarageArea']]
y_train = train_df_final['SalePrice']
X_test = test_df_final[['LotArea', 'OverallQual', 'OverallCond', 'GrLivArea', 'GarageCars', 'GarageArea']]
# y_test = test_df['y'].values.reshape(-1, 1)

In [73]:
#Standarisation des données
from sklearn import preprocessing
std_scale = preprocessing.StandardScaler().fit(X_train)
X_train_std = std_scale.transform(X_train)
X_test_std = std_scale.transform(X_test)

In [74]:
#Creation du model
reg_multi = LinearRegression()

#Entrainement du model
reg_multi.fit(X_train_std, y_train)

LinearRegression()

In [79]:
#Prediction du model
prediction = reg_multi.predict(X_test_std)
prediction

array([123822.32993433, 158280.90592397, 160361.5635939 , ...,
       154048.39552305,  85943.88751977, 247518.13601698])